n8n/workflows/paperclip-boss-action-queue.json
{
  "id": "paperclip-boss-action-queue",
  "name": "Paperclip Boss Action Queue",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "bossq-manual",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        80
      ],
      "id": "bossq-schedule",
      "name": "Every 10 Minutes"
    },
    {
      "parameters": {
        "command": "node - <<'NODE'\nconst { execFileSync } = require('node:child_process');\n\nconst apiBase = process.env.PAPERCLIP_API_URL || 'http://127.0.0.1:3100';\nconst companyId = process.env.PAPERCLIP_COMPANY_ID || '6a41f388-ff8d-4b65-82dc-38a9b66fa69e';\nconst apiKey = process.env.PAPERCLIP_API_KEY || '';\nconst cliCommand = (process.env.PAPERCLIP_CLI_COMMAND || 'npx -y paperclipai').trim();\nconst cliArgv = cliCommand.split(/\\s+/).filter(Boolean);\nfunction stripTrailingSlash(value) {\n  return String(value || '').replace(/\\/+$/, '');\n}\n\nfunction resolveAppBase(rawBase) {\n  const override = stripTrailingSlash((process.env.PAPERCLIP_PUBLIC_URL || '').trim());\n  if (override) return override;\n  try {\n    const parsed = new URL(rawBase);\n    const host = parsed.hostname.toLowerCase();\n    if (host === '127.0.0.1' || host === 'localhost' || host === '0.0.0.0') {\n      const port = parsed.port ? `:${parsed.port}` : '';\n      return `${parsed.protocol}//raspberrypi${port}`;\n    }\n    return stripTrailingSlash(rawBase);\n  } catch {\n    return stripTrailingSlash(rawBase);\n  }\n}\n\nconst source = {\n  mode: 'paperclip_cli_n8n',\n  cli_command: cliCommand,\n  api_base: stripTrailingSlash(apiBase),\n  app_base: resolveAppBase(apiBase),\n  company_id: companyId,\n};\n\nfunction emit(payload) {\n  process.stdout.write(JSON.stringify(payload));\n}\n\nfunction cliJson(args) {\n  const stdout = execFileSync(\n    cliArgv[0],\n    [...cliArgv.slice(1), ...args, '--company-id', companyId, '--api-base', apiBase, '--api-key', apiKey, '--json'],\n    {\n      encoding: 'utf8',\n      stdio: ['ignore', 'pipe', 'pipe'],\n    },\n  );\n  return JSON.parse(stdout);\n}\n\nfunction compactIssues(rows) {\n  return (Array.isArray(rows) ? rows : []).map((row) => ({\n    id: row.id || null,\n    identifier: row.identifier || null,\n    title: row.title || null,\n    status: row.status || null,\n    parentId: row.parentId || null,\n    assigneeAgentId: row.assigneeAgentId || null,\n    assigneeUserId: row.assigneeUserId || null,\n    updatedAt: row.updatedAt || null,\n  }));\n}\n\nfunction compactApprovals(rows) {\n  return (Array.isArray(rows) ? rows : []).map((row) => ({\n    id: row.id || null,\n    type: row.type || null,\n    status: row.status || null,\n    issueIds: Array.isArray(row.issueIds) ? row.issueIds : [],\n    payload: row.payload && typeof row.payload === 'object'\n      ? { title: row.payload.title || null, name: row.payload.name || null, agentId: row.payload.agentId || null }\n      : {},\n    requestedByAgentId: row.requestedByAgentId || null,\n    requestedByUserId: row.requestedByUserId || null,\n    updatedAt: row.updatedAt || null,\n  }));\n}\n\nfunction compactAgents(rows) {\n  return (Array.isArray(rows) ? rows : []).map((row) => ({\n    id: row.id || null,\n    name: row.name || null,\n    runtimeConfig: row.runtimeConfig || {},\n    lastHeartbeatAt: row.lastHeartbeatAt || null,\n  }));\n}\n\nfunction compactHeartbeatRuns(rows) {\n  return (Array.isArray(rows) ? rows : []).map((row) => ({\n    agentId: row.agentId || null,\n    invocationSource: row.invocationSource || null,\n    startedAt: row.startedAt || null,\n  }));\n}\n\n(async () => {\n  if (!apiKey) {\n    emit({\n      success: false,\n      error_code: 'paperclip_api_key_missing',\n      message: 'PAPERCLIP_API_KEY is not configured in the n8n container',\n      remediation: [\n        'Set PAPERCLIP_API_KEY in docker-compose.n8n.yml or container env',\n        'Restart n8n after updating the environment',\n      ],\n      source,\n    });\n    process.exit(0);\n  }\n\n  try {\n    const issues = compactIssues(cliJson(['issue', 'list']));\n    const inferredCompanyPrefix =\n      (process.env.PAPERCLIP_COMPANY_PREFIX || '').trim() ||\n      issues\n        .map((issue) => {\n          const match = /^([A-Za-z][A-Za-z0-9_]*)-\\d+$/.exec(issue.identifier || '');\n          return match ? match[1].toUpperCase() : null;\n        })\n        .find(Boolean) ||\n      'ROB';\n    source.company_prefix = inferredCompanyPrefix;\n    const approvals = compactApprovals(cliJson(['approval', 'list']));\n    const agents = compactAgents(cliJson(['agent', 'list']));\n\n    const payload = {\n      success: true,\n      generated_at: new Date().toISOString(),\n      source,\n      warnings: [],\n      snapshot: {\n        issues,\n        approvals,\n        agents,\n        heartbeat_runs: [],\n      },\n    };\n\n    try {\n      const response = await fetch(`${apiBase}/api/companies/${companyId}/heartbeat-runs?limit=200`, {\n        headers: {\n          accept: 'application/json',\n          authorization: `Bearer ${apiKey}`,\n        },\n      });\n      if (response.ok) {\n        payload.snapshot.heartbeat_runs = compactHeartbeatRuns(await response.json());\n      } else {\n        payload.warnings.push(`heartbeat-runs HTTP fallback unavailable: ${response.status}`);\n      }\n    } catch (error) {\n      payload.warnings.push(`heartbeat-runs HTTP fallback error: ${error.message || String(error)}`);\n    }\n\n    emit(payload);\n    process.exit(0);\n  } catch (error) {\n    emit({\n      success: false,\n      error_code: 'snapshot_collection_failed',\n      message: error.message || String(error),\n      source,\n    });\n    process.exit(0);\n  }\n})();\nNODE\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "id": "bossq-probe",
      "name": "Collect Paperclip Snapshot"
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first()?.json?.stdout || '';\nlet payload;\ntry {\n  payload = JSON.parse(stdout);\n} catch (error) {\n  payload = {\n    success: false,\n    error_code: 'invalid_probe_json',\n    message: error.message || String(error),\n    raw_stdout: stdout.slice(0, 4000),\n  };\n}\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "id": "bossq-parse",
      "name": "Parse Probe Output"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sentMap) staticData.sentMap = {};\nconst sentMap = staticData.sentMap;\nconst nowMs = Date.now();\nconst severityCooldownMs = {\n  critical: 30 * 60 * 1000,\n  high: 2 * 60 * 60 * 1000,\n  medium: 6 * 60 * 60 * 1000,\n};\nconst alertPolicy = {\n  managerFollowupGraceMs: 10 * 60 * 1000,\n  unassignedActiveGraceMs: 20 * 60 * 1000,\n  reviewGraceMs: 30 * 60 * 1000,\n  heartbeatByOwner: {\n    CEO: { enabled: true, multiplier: 1.25, severity: 'high' },\n    CTO: { enabled: true, multiplier: 1.25, severity: 'high' },\n    Trader: { enabled: true, multiplier: 2.0, severity: 'medium' },\n    Scout: { enabled: true, multiplier: 2.0, severity: 'medium' },\n    'KR Scout': { enabled: false },\n    'Staff Engineer': { enabled: false },\n    'Software Engineer': { enabled: false },\n    'QA Engineer': { enabled: false },\n    'Release Engineer': { enabled: false },\n    'Code Reviewer': { enabled: false },\n  },\n};\nconst NL = String.fromCharCode(10);\n\nfunction parseIso(value) {\n  if (!value || typeof value !== 'string') return null;\n  const date = new Date(value);\n  return Number.isNaN(date.getTime()) ? null : date;\n}\n\nfunction isActiveIssue(status, includeBacklog = false) {\n  const normalized = String(status || '').trim().toLowerCase();\n  if (normalized === 'in_progress' || normalized === 'blocked') return true;\n  return includeBacklog && (normalized === 'backlog' || normalized === 'todo');\n}\n\nfunction fingerprint(kind, ...parts) {\n  return [kind, ...parts.filter(Boolean)].join(':');\n}\n\nfunction groupChildren(issues) {\n  const grouped = {};\n  for (const issue of issues) {\n    if (!issue || typeof issue !== 'object') continue;\n    if (!issue.parentId) continue;\n    if (!grouped[issue.parentId]) grouped[issue.parentId] = [];\n    grouped[issue.parentId].push(issue);\n  }\n  return grouped;\n}\n\nfunction activeIssuesByAssignee(issues) {\n  const grouped = {};\n  for (const issue of issues) {\n    if (!issue || typeof issue !== 'object') continue;\n    if (!issue.assigneeAgentId) continue;\n    if (!isActiveIssue(issue.status, false)) continue;\n    if (!grouped[issue.assigneeAgentId]) grouped[issue.assigneeAgentId] = [];\n    grouped[issue.assigneeAgentId].push(issue);\n  }\n  return grouped;\n}\n\nfunction heartbeatRowsByAgent(rows) {\n  const grouped = {};\n  for (const row of rows || []) {\n    if (!row || typeof row !== 'object') continue;\n    if (!row.agentId) continue;\n    if (!grouped[row.agentId]) grouped[row.agentId] = [];\n    grouped[row.agentId].push(row);\n  }\n  return grouped;\n}\n\nfunction latestTimerHeartbeat(rows) {\n  let latest = null;\n  for (const row of rows || []) {\n    if (String(row.invocationSource || '') !== 'timer') continue;\n    const startedAt = parseIso(row.startedAt);\n    if (!startedAt) continue;\n    if (!latest || startedAt > latest) latest = startedAt;\n  }\n  return latest;\n}\n\nfunction stripTrailingSlash(value) {\n  return String(value || '').replace(/\\/+$/, '');\n}\n\nfunction resolveItemCompanyPrefix(item, source) {\n  const explicit = String(source?.company_prefix || '').trim();\n  if (explicit) return explicit.toUpperCase();\n  const identifier = String(item?.issue_identifier || '').trim();\n  const match = /^([A-Za-z][A-Za-z0-9_]*)-\\d+$/.exec(identifier);\n  return match ? match[1].toUpperCase() : 'ROB';\n}\n\nfunction buildIssueDeepLink(item, source) {\n  const issueRef = String(item?.issue_identifier || '').trim();\n  if (!issueRef) return null;\n  const appBase = stripTrailingSlash(source?.app_base || source?.api_base || 'http://raspberrypi:3100');\n  const companyPrefix = encodeURIComponent(resolveItemCompanyPrefix(item, source));\n  return `${appBase}/${companyPrefix}/issues/${encodeURIComponent(issueRef)}`;\n}\n\nfunction buildApprovalDeepLink(item, source) {\n  const approvalId = String(item?.approval_id || item?.evidence?.approval_id || '').trim();\n  if (!approvalId) return null;\n  const appBase = stripTrailingSlash(source?.app_base || source?.api_base || 'http://raspberrypi:3100');\n  const companyPrefix = encodeURIComponent(resolveItemCompanyPrefix(item, source));\n  return `${appBase}/${companyPrefix}/approvals/${encodeURIComponent(approvalId)}`;\n}\n\nfunction deriveItems(snapshot, warnings) {\n  const issues = Array.isArray(snapshot?.issues) ? snapshot.issues : [];\n  const approvals = Array.isArray(snapshot?.approvals) ? snapshot.approvals : [];\n  const agents = Array.isArray(snapshot?.agents) ? snapshot.agents : [];\n  const activeIssuesByAgent = activeIssuesByAssignee(issues);\nconst heartbeatRows = heartbeatRowsByAgent(Array.isArray(snapshot?.heartbeat_runs) ? snapshot.heartbeat_runs : []);\n  const agentById = Object.fromEntries(agents.filter(a => a && a.id).map(a => [a.id, a]));\n  const childByParent = groupChildren(issues);\n  const items = [];\n\n  for (const issue of issues) {\n    if (!issue || typeof issue !== 'object') continue;\n    const issueId = issue.id;\n    const identifier = issue.identifier || issue.id || 'unknown';\n    const title = issue.title || 'Untitled';\n    const status = issue.status || '';\n    const assigneeAgentId = issue.assigneeAgentId || null;\n\n    if (issueId && isActiveIssue(status, false) && assigneeAgentId && agentById[assigneeAgentId] && childByParent[issueId]?.length) {\n      const agent = agentById[assigneeAgentId];\n      const latestChildUpdate = childByParent[issueId]\n        .map(child => parseIso(child.updatedAt))\n        .filter(Boolean)\n        .sort((a, b) => b - a)[0] || null;\n      const lastHeartbeat = parseIso(agent.lastHeartbeatAt);\n      const followupAgeMs = latestChildUpdate ? nowMs - latestChildUpdate.getTime() : 0;\n      if (latestChildUpdate && followupAgeMs >= alertPolicy.managerFollowupGraceMs && (!lastHeartbeat || latestChildUpdate > lastHeartbeat)) {\n        const owner = agent.name || assigneeAgentId;\n        items.push({\n          fingerprint: fingerprint('manager_followup_needed', identifier, latestChildUpdate.toISOString()),\n          kind: 'manager_followup_needed',\n          severity: 'critical',\n          owner,\n          issue_identifier: identifier,\n          title,\n          summary: '자식 이슈 업데이트가 assignee 마지막 heartbeat보다 최신',\n          evidence: {\n            latest_child_update: latestChildUpdate.toISOString(),\n            last_heartbeat_at: lastHeartbeat ? lastHeartbeat.toISOString() : null,\n            followup_age_minutes: Math.round(followupAgeMs / 60000),\n          },\n          recommended_action: `${owner} 재실행 또는 parent issue 확인`,\n        });\n      }\n    }\n\n    const updatedAt = parseIso(issue.updatedAt);\n    const unassignedAgeMs = updatedAt ? nowMs - updatedAt.getTime() : alertPolicy.unassignedActiveGraceMs;\n    if (isActiveIssue(status, false) && !assigneeAgentId && unassignedAgeMs >= alertPolicy.unassignedActiveGraceMs) {\n      items.push({\n        fingerprint: fingerprint('active_issue_unassigned', identifier, issue.updatedAt || ''),\n        kind: 'active_issue_unassigned',\n        severity: 'high',\n        owner: null,\n        issue_identifier: identifier,\n        title,\n        summary: '활성 이슈에 assignee가 없다',\n        evidence: {\n          status,\n          updated_at: issue.updatedAt || null,\n          unassigned_age_minutes: Math.round(unassignedAgeMs / 60000),\n        },\n        recommended_action: 'owner 지정 또는 backlog 복귀 여부 확인',\n      });\n    }\n  }\n\n  for (const approval of approvals) {\n    if (!approval || typeof approval !== 'object') continue;\n    if (String(approval.status || '') !== 'revision_requested') continue;\n    const payload = approval.payload && typeof approval.payload === 'object' ? approval.payload : {};\n    const title = payload.title || payload.name || approval.type || 'Approval';\n    items.push({\n      fingerprint: fingerprint('approval_revision_requested', approval.id || 'unknown', approval.updatedAt || ''),\n      kind: 'approval_revision_requested',\n      severity: 'high',\n      owner: 'board',\n      issue_identifier: null,\n      approval_id: approval.id || null,\n      title,\n      summary: 'approval이 revision_requested 상태다',\n      evidence: {\n        approval_id: approval.id || null,\n        type: approval.type || null,\n        updated_at: approval.updatedAt || null,\n      },\n      recommended_action: 'approval 재검토 또는 수정 요청 확인',\n    });\n  }\n\n  // issue_review_needed / formal_approval_pending\n  const pendingApprovalsByIssue = {};\n  for (const approval of approvals) {\n    if (!approval || typeof approval !== 'object') continue;\n    if (String(approval.status || '') !== 'pending') continue;\n    for (const issueId of (approval.issueIds || [])) {\n      if (!issueId) continue;\n      if (!pendingApprovalsByIssue[issueId]) pendingApprovalsByIssue[issueId] = [];\n      pendingApprovalsByIssue[issueId].push(approval);\n    }\n  }\n\n  for (const issue of issues) {\n    if (!issue || typeof issue !== 'object') continue;\n    if (String(issue.status || '').trim().toLowerCase() !== 'in_review') continue;\n    const issueId = issue.id;\n    const identifier = issue.identifier || issue.id || 'unknown';\n    const title = issue.title || 'Untitled';\n    const updatedAt = parseIso(issue.updatedAt);\n    const reviewAgeMs = updatedAt ? nowMs - updatedAt.getTime() : 0;\n    if (updatedAt && reviewAgeMs < alertPolicy.reviewGraceMs) continue;\n\n    const assigneeUserId = issue.assigneeUserId || null;\n    const assigneeAgentId = issue.assigneeAgentId || null;\n\n    if (assigneeUserId) {\n      const linkedApprovals = pendingApprovalsByIssue[issueId] || [];\n      if (linkedApprovals.length > 0) {\n        for (const appr of linkedApprovals) {\n          const approvalId = appr.id || '';\n          items.push({\n            fingerprint: fingerprint('formal_approval_pending', identifier, approvalId),\n            kind: 'formal_approval_pending',\n            severity: 'high',\n            owner: 'board',\n            issue_identifier: identifier,\n            approval_id: approvalId,\n            title,\n            summary: 'in_review 이슈에 pending approval이 있다',\n            evidence: {\n              approval_id: approvalId,\n              assignee_user_id: assigneeUserId,\n              updated_at: issue.updatedAt || null,\n            },\n            recommended_action: 'approval 검토 및 승인/반려 결정',\n          });\n        }\n      } else {\n        items.push({\n          fingerprint: fingerprint('issue_review_needed', identifier, assigneeUserId),\n          kind: 'issue_review_needed',\n          severity: 'high',\n          owner: 'board',\n          issue_identifier: identifier,\n          role_tag: 'Boss',\n          title,\n          summary: 'in_review 이슈가 사람 검토 대기 중이다',\n          evidence: {\n            assignee_user_id: assigneeUserId,\n            updated_at: issue.updatedAt || null,\n          },\n          recommended_action: '이슈 검토 후 승인 또는 피드백 전달',\n        });\n      }\n    } else if (assigneeAgentId) {\n      const agentName = agentById[assigneeAgentId]\n        ? (agentById[assigneeAgentId].name || assigneeAgentId)\n        : assigneeAgentId;\n      items.push({\n        fingerprint: fingerprint('misrouted_review', identifier, assigneeAgentId),\n        kind: 'misrouted_review',\n        severity: 'medium',\n        owner: agentName,\n        issue_identifier: identifier,\n        role_tag: agentName,\n        title,\n        summary: 'in_review인데 agent만 할당되어 있다 (사람 reviewer 없음)',\n        evidence: {\n          assignee_agent_id: assigneeAgentId,\n          agent_name: agentName,\n          updated_at: issue.updatedAt || null,\n        },\n        recommended_action: '사람 reviewer 할당 또는 상태 재조정',\n      });\n    }\n    // in_review + no assignee at all → falls through to active_issue_unassigned\n  }\n\n  for (const agent of agents) {\n    if (!agent || typeof agent !== 'object') continue;\n    const heartbeat = agent.runtimeConfig?.heartbeat;\n    if (!heartbeat || heartbeat.enabled !== true) continue;\n    const intervalSec = Number(heartbeat.intervalSec || 0);\n    if (!intervalSec || intervalSec <= 0) continue;\n    const agentId = agent.id;\n    if (!agentId) continue;\n    const owner = agent.name || agentId;\n    const heartbeatPolicy = alertPolicy.heartbeatByOwner[owner] || { enabled: false };\n    if (!heartbeatPolicy.enabled) continue;\n\n    let latestReference = latestTimerHeartbeat(heartbeatRows[agentId] || []);\n    let usedFallback = false;\n    if (!latestReference) {\n      latestReference = parseIso(agent.lastHeartbeatAt);\n      usedFallback = Boolean(latestReference);\n    }\n    if (!latestReference) continue;\n\n    const activeIssues = activeIssuesByAgent[agentId] || [];\n    if (!activeIssues.length) continue;\n    const contextIssue = activeIssues.reduce((latest, issue) => {\n      const latestAt = parseIso(latest?.updatedAt) || parseIso(latest?.createdAt) || new Date(0);\n      const issueAt = parseIso(issue?.updatedAt) || parseIso(issue?.createdAt) || new Date(0);\n      return issueAt > latestAt ? issue : latest;\n    }, activeIssues[0]);\n\n    const ageMs = nowMs - latestReference.getTime();\n    const thresholdMultiplier = Number(heartbeatPolicy.multiplier || 1.5);\n    if (ageMs <= intervalSec * 1000 * thresholdMultiplier) continue;\n    if (usedFallback) {\n      warnings.push(`heartbeat_missed used agent.lastHeartbeatAt fallback for agent ${agentId}`);\n    }\n    items.push({\n      fingerprint: fingerprint('heartbeat_missed', owner, latestReference.toISOString()),\n      kind: 'heartbeat_missed',\n      severity: heartbeatPolicy.severity || 'medium',\n      owner,\n      issue_identifier: String(contextIssue?.identifier || '').trim() || null,\n      title: String(contextIssue?.title || `${owner} heartbeat missed`),\n      summary: 'expected timer heartbeat보다 마지막 실행이 오래됐다',\n      evidence: {\n        last_heartbeat_at: latestReference.toISOString(),\n        age_seconds: Math.round(ageMs / 1000),\n        interval_sec: intervalSec,\n        threshold_multiplier: thresholdMultiplier,\n      },\n      recommended_action: `${owner} 상태 확인 또는 수동 heartbeat 검토`,\n    });\n  }\n\n  return items;\n}\n\nfunction severityEmoji(severity) {\n  return severity === 'critical' ? '🚨' : severity === 'high' ? '⚠️' : 'ℹ️';\n}\n\nfunction buildMessage(notifyItems, resolvedCount, warnings, source) {\n  const top = notifyItems.slice(0, 5);\n  const lines = [];\n  lines.push(`🚨 Boss Action Queue (${notifyItems.length}건)`);\n  lines.push('');\n  top.forEach((item, idx) => {\n    if (item.kind === 'issue_review_needed') {\n      const tag = item.role_tag || 'Boss';\n      lines.push(`${idx + 1}. 🔍 [${tag}] ${item.issue_identifier || item.title} — 검토 필요`);\n    } else if (item.kind === 'formal_approval_pending') {\n      lines.push(`${idx + 1}. 📋 [Boss] ${item.issue_identifier || item.title} — approval 필요`);\n    } else if (item.kind === 'misrouted_review') {\n      const tag = item.role_tag || item.owner || 'unknown';\n      lines.push(`${idx + 1}. ⚠️ [${tag}] ${item.issue_identifier || item.title} — 잘못된 상태 (in_review인데 agent만 할당)`);\n    } else {\n      lines.push(`${idx + 1}. ${severityEmoji(item.severity)} [${item.severity}] ${item.issue_identifier || item.title}`);\n    }\n    lines.push(`- ${item.summary}`);\n    if (item.recommended_action) lines.push(`- 제안: ${item.recommended_action}`);\n    if (item.evidence?.last_heartbeat_at) lines.push(`- last heartbeat: ${item.evidence.last_heartbeat_at}`);\n    if (item.evidence?.latest_child_update) lines.push(`- latest child update: ${item.evidence.latest_child_update}`);\n    const issueDeepLink = buildIssueDeepLink(item, source);\n    const approvalDeepLink = buildApprovalDeepLink(item, source);\n    if (issueDeepLink) lines.push(`- issue: ${issueDeepLink}`);\n    if (approvalDeepLink) lines.push(`- approval: ${approvalDeepLink}`);\n  });\n  if (notifyItems.length > top.length) {\n    lines.push('');\n    lines.push(`외 ${notifyItems.length - top.length}건`);\n  }\n  if (resolvedCount > 0) {\n    lines.push('');\n    lines.push(`✅ resolved ${resolvedCount}건`);\n  }\n  if (warnings.length > 0) {\n    lines.push('');\n    lines.push('Warnings:');\n    warnings.slice(0, 3).forEach(w => lines.push(`- ${w}`));\n  }\n  return lines.join(NL);\n}\n\nif (!data.success) {\n  const key = `probe_error:${data.error_code || 'unknown'}`;\n  const cooldown = severityCooldownMs.high;\n  const previous = sentMap[key];\n  const shouldNotify = !previous || (nowMs - (previous.lastNotifiedAt || 0)) > cooldown;\n  if (shouldNotify) {\n    sentMap[key] = { lastNotifiedAt: nowMs, severity: 'high' };\n  }\n  const message = [\n    '⚠️ Paperclip Boss Action Queue probe issue',\n    `- code: ${data.error_code || 'unknown'}`,\n    `- message: ${data.message || 'unknown error'}`,\n    ...(Array.isArray(data.remediation) ? data.remediation.map(line => `- ${line}`) : []),\n  ].join(NL);\n  return [{ json: { shouldNotify, message, notifyCount: shouldNotify ? 1 : 0, errorCode: data.error_code || 'unknown' } }];\n}\n\nconst warnings = Array.isArray(data.warnings) ? [...data.warnings] : [];\nconst items = deriveItems(data.snapshot || {}, warnings);\nconst currentKeys = new Set(items.map(item => item.fingerprint));\nconst resolvedKeys = [];\nfor (const key of Object.keys(sentMap)) {\n  if (key.startsWith('probe_error:')) continue;\n  if (!currentKeys.has(key)) {\n    resolvedKeys.push(key);\n    delete sentMap[key];\n  }\n}\n\nconst notifyItems = [];\nfor (const item of items) {\n  const cooldown = severityCooldownMs[item.severity] || severityCooldownMs.medium;\n  const previous = sentMap[item.fingerprint];\n  const shouldNotify = !previous || previous.severity !== item.severity || (nowMs - (previous.lastNotifiedAt || 0)) > cooldown;\n  if (shouldNotify) {\n    notifyItems.push(item);\n    sentMap[item.fingerprint] = { lastNotifiedAt: nowMs, severity: item.severity };\n  }\n}\n\nconst shouldNotify = notifyItems.length > 0 || resolvedKeys.length > 0;\nconst message = shouldNotify ? buildMessage(notifyItems, resolvedKeys.length, warnings, data.source || {}) : '';\nreturn [{ json: { shouldNotify, message, notifyCount: notifyItems.length, resolvedCount: resolvedKeys.length } }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        0
      ],
      "id": "bossq-prepare",
      "name": "Prepare Notification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bossq-should-notify",
              "leftValue": "={{ $json.shouldNotify }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1000,
        0
      ],
      "id": "bossq-if",
      "name": "Should Notify?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{$env.PAPERCLIP_BOSS_QUEUE_CHANNEL_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.N8N_DISCORD_BOT_TOKEN_ALFRED }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1240,
        0
      ],
      "id": "bossq-discord",
      "name": "Send to Discord"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Collect Paperclip Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Collect Paperclip Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Paperclip Snapshot": {
      "main": [
        [
          {
            "node": "Parse Probe Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Probe Output": {
      "main": [
        [
          {
            "node": "Prepare Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification": {
      "main": [
        [
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify?": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
