n8n/workflows/paperclip-watch-alert.json
{
  "id": "paperclip-watch-alert",
  "name": "Paperclip Watch Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "watch-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "wa-webhook",
      "name": "Watch Alert Webhook",
      "webhookId": "watch-alert"
    },
    {
      "parameters": {
        "jsCode": "// Validate + dedupe + build message for Paperclip Watch Alert workflow.\n//\n// Input: webhook JSON body with shape\n//   { alert_type, correlation_id, as_of, market, triggered:[{symbol,condition_type,threshold,current}], message }\n// Output (single item) with `route` keyed by the Switch node:\n//   route = 'invalid' | 'deduped' | 'crypto' | 'kr' | 'us'\n//\n// IMPORTANT: sentMap is only READ here. The actual write happens in the `Mark Sent`\n// code node AFTER Discord delivery succeeds, so a Discord 5xx → auto_trader retry\n// can re-evaluate the payload and re-deliver instead of silently deduping.\nconst input = $input.first().json || {};\nconst body = (input.body && typeof input.body === 'object') ? input.body : input;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sentMap || typeof staticData.sentMap !== 'object') staticData.sentMap = {};\nconst sentMap = staticData.sentMap;\n\nconst nowMs = Date.now();\nconst COOLDOWN_MS = 6 * 60 * 60 * 1000;\nconst GC_AGE_MS = 24 * 60 * 60 * 1000;\nconst ALLOWED_MARKETS = ['crypto', 'kr', 'us'];\n\n// GC entries older than 24h so the static map does not grow unbounded.\nfor (const key of Object.keys(sentMap)) {\n  const entry = sentMap[key];\n  if (!entry || typeof entry !== 'object') {\n    delete sentMap[key];\n    continue;\n  }\n  const lastSentAt = Number(entry.lastSentAt || 0);\n  if (!lastSentAt || (nowMs - lastSentAt) > GC_AGE_MS) delete sentMap[key];\n}\n\nconst correlationId = typeof body.correlation_id === 'string' ? body.correlation_id : null;\nconst asOf = typeof body.as_of === 'string' ? body.as_of : null;\nconst market = String(body.market || '').trim().toLowerCase();\nconst triggered = Array.isArray(body.triggered) ? body.triggered : null;\nconst rawMessage = typeof body.message === 'string' ? body.message : '';\n\nfunction invalid(errorCode, detail) {\n  return [{\n    json: {\n      route: 'invalid',\n      errorCode,\n      detail: detail || null,\n      market: market || null,\n      correlationId,\n      asOf,\n      responseStatusCode: 400,\n      responseBody: JSON.stringify({\n        status: 'error',\n        error: errorCode,\n        detail: detail || null,\n        correlation_id: correlationId,\n      }),\n    },\n  }];\n}\n\nif (!ALLOWED_MARKETS.includes(market)) {\n  return invalid('unknown_market', `market must be one of ${ALLOWED_MARKETS.join(', ')}`);\n}\nif (!triggered || triggered.length === 0) {\n  return invalid('missing_triggered', 'triggered array is required and must be non-empty');\n}\n\nfor (const item of triggered) {\n  if (!item || typeof item !== 'object') {\n    return invalid('invalid_triggered_item', 'each triggered entry must be an object');\n  }\n  if (!item.symbol || !item.condition_type || item.threshold === undefined || item.threshold === null) {\n    return invalid('invalid_triggered_item', 'symbol/condition_type/threshold are required per item');\n  }\n  const thresholdType = typeof item.threshold;\n  if (thresholdType !== 'number' && thresholdType !== 'string') {\n    return invalid('invalid_triggered_item', 'threshold must be a number or string');\n  }\n}\n\nlet newItemCount = 0;\nconst fingerprints = triggered.map((item) => {\n  const symbol = String(item.symbol).trim();\n  const conditionType = String(item.condition_type).trim();\n  const threshold = item.threshold;\n  const fp = `${market}:${symbol}:${conditionType}:${threshold}`;\n  const previous = sentMap[fp];\n  const lastSentAt = previous && typeof previous === 'object' ? Number(previous.lastSentAt || 0) : 0;\n  const isNew = !lastSentAt || (nowMs - lastSentAt) > COOLDOWN_MS;\n  if (isNew) newItemCount += 1;\n  return { fp, isNew };\n});\n\nconst dedupedCount = fingerprints.length - newItemCount;\n\nif (newItemCount === 0) {\n  // Every triggered item is inside the 6h cooldown — noop but still 200.\n  // No sentMap write here: entries already have lastSentAt recorded from the\n  // prior successful delivery.\n  return [{\n    json: {\n      route: 'deduped',\n      market,\n      correlationId,\n      asOf,\n      sentCount: 0,\n      dedupedCount,\n      fingerprints,\n      responseStatusCode: 200,\n      responseBody: JSON.stringify({\n        status: 'deduped',\n        market,\n        sent_count: 0,\n        deduped_count: dedupedCount,\n        correlation_id: correlationId,\n      }),\n    },\n  }];\n}\n\nconst footer = `\\n\\ncorrelation_id=${correlationId || 'unknown'}  as_of=${asOf || 'unknown'}`;\nconst discordContent = rawMessage ? `${rawMessage}${footer}` : `Watch alert (${market})${footer}`;\n\nreturn [{\n  json: {\n    route: market,\n    market,\n    correlationId,\n    asOf,\n    sentCount: newItemCount,\n    dedupedCount,\n    discordContent,\n    fingerprints,\n    responseStatusCode: 200,\n    responseBody: JSON.stringify({\n      status: 'sent',\n      market,\n      sent_count: newItemCount,\n      deduped_count: dedupedCount,\n      correlation_id: correlationId,\n    }),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "wa-process",
      "name": "Validate & Dedupe"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "wa-rule-invalid",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "wa-rule-deduped",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "deduped",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deduped"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "wa-rule-crypto",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "crypto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crypto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "wa-rule-kr",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "kr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "kr"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "wa-rule-us",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "us",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "us"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        500,
        0
      ],
      "id": "wa-router",
      "name": "Route by market"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.discordContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        780,
        -80
      ],
      "id": "wa-discord-crypto",
      "name": "Discord — Crypto",
      "credentials": {
        "discordWebhookApi": {
          "id": "REPLACE_WITH_DISCORD_WEBHOOK_CRYPTO",
          "name": "Discord Webhook - Watch Alert Crypto"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.discordContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        780,
        80
      ],
      "id": "wa-discord-kr",
      "name": "Discord — KR",
      "credentials": {
        "discordWebhookApi": {
          "id": "REPLACE_WITH_DISCORD_WEBHOOK_KR",
          "name": "Discord Webhook - Watch Alert KR"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.discordContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        780,
        240
      ],
      "id": "wa-discord-us",
      "name": "Discord — US",
      "credentials": {
        "discordWebhookApi": {
          "id": "REPLACE_WITH_DISCORD_WEBHOOK_US",
          "name": "Discord Webhook - Watch Alert US"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "wa-discord-ok-crypto",
            "leftValue": "={{ !$json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        940,
        -80
      ],
      "id": "wa-if-discord-ok-crypto",
      "name": "Discord OK? — Crypto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "wa-discord-ok-kr",
            "leftValue": "={{ !$json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        940,
        80
      ],
      "id": "wa-if-discord-ok-kr",
      "name": "Discord OK? — KR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "wa-discord-ok-us",
            "leftValue": "={{ !$json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        940,
        240
      ],
      "id": "wa-if-discord-ok-us",
      "name": "Discord OK? — US"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Validate & Dedupe').item.json.responseBody }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        -240
      ],
      "id": "wa-respond-400",
      "name": "Respond 400"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Validate & Dedupe').item.json.responseBody }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        -160
      ],
      "id": "wa-respond-200-deduped",
      "name": "Respond 200 (deduped)"
    },
    {
      "parameters": {
        "jsCode": "// Record fingerprint send times AFTER Discord delivery succeeds.\n// This runs only on the Discord main (success) output path, so a Discord 5xx\n// routes around this node into `Respond 500` and leaves sentMap untouched,\n// letting auto_trader retry re-deliver the alert.\nconst upstream = $('Validate & Dedupe').item.json || {};\nconst fingerprints = Array.isArray(upstream.fingerprints) ? upstream.fingerprints : [];\nconst nowMs = Date.now();\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sentMap || typeof staticData.sentMap !== 'object') staticData.sentMap = {};\nconst sentMap = staticData.sentMap;\n\n// Refresh every fingerprint in the payload (new + re-mentioned) so the user\n// does not re-receive the same alert inside the 6h cooldown.\nfor (const entry of fingerprints) {\n  if (!entry || typeof entry !== 'object' || !entry.fp) continue;\n  sentMap[entry.fp] = { lastSentAt: nowMs };\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        80
      ],
      "id": "wa-mark-sent",
      "name": "Mark Sent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Validate & Dedupe').item.json.responseBody }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1060,
        -80
      ],
      "id": "wa-respond-200-sent",
      "name": "Respond 200 (sent)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', error: 'discord_send_failed', detail: ($json.error && $json.error.message) || $json.message || 'discord node failure', market: $('Validate & Dedupe').item.json.market, correlation_id: $('Validate & Dedupe').item.json.correlationId }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1060,
        240
      ],
      "id": "wa-respond-500",
      "name": "Respond 500"
    }
  ],
  "connections": {
    "Watch Alert Webhook": {
      "main": [
        [
          {
            "node": "Validate & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Dedupe": {
      "main": [
        [
          {
            "node": "Route by market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by market": {
      "main": [
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 (deduped)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord — Crypto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord — KR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord — US",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord — Crypto": {
      "main": [
        [
          {
            "node": "Discord OK? — Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord — KR": {
      "main": [
        [
          {
            "node": "Discord OK? — KR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord — US": {
      "main": [
        [
          {
            "node": "Discord OK? — US",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord OK? — Crypto": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord OK? — KR": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord OK? — US": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sent": {
      "main": [
        [
          {
            "node": "Respond 200 (sent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
