n8n/workflows/sell-alert-hynix.json
{
  "name": "SK하이닉스 매도 알림",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "sell-trigger",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst day = kst.getUTCDay();\nconst hour = kst.getUTCHours();\nconst minute = kst.getUTCMinutes();\nconst totalMinutes = hour * 60 + minute;\nconst marketOpen = 9 * 60;\nconst marketClose = 15 * 60 + 30;\nconst isWeekday = day >= 1 && day <= 5;\nconst isMarketHours = totalMinutes >= marketOpen && totalMinutes <= marketClose;\nreturn [{ json: { isOpen: isWeekday && isMarketHours } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "sell-market-check",
      "name": "Market Hours Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "market-open",
              "leftValue": "={{ $json.isOpen }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 0],
      "id": "sell-if-market",
      "name": "Market Open?"
    },
    {
      "parameters": {
        "url": "http://auto_trader:8000/api/n8n/sell-signal/000660",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "id": "sell-fetch",
      "name": "Fetch Sell Signal"
    },
    {
      "parameters": {
        "jsCode": "const COOLDOWN_MS = 30 * 60 * 1000;\nconst data = $json;\n\nif (!data.success || !data.triggered) {\n  return [{ json: { shouldAlert: false, reason: data.triggered ? 'api_error' : 'not_triggered' } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst lastAlertTime = staticData.lastAlertTime || 0;\nconst now = Date.now();\n\nif (now - lastAlertTime < COOLDOWN_MS) {\n  return [{ json: { shouldAlert: false, reason: 'cooldown', lastAlertTime } }];\n}\n\nstaticData.lastAlertTime = now;\n\nconst condLines = data.conditions.map(c => {\n  const icon = c.met ? '✅' : '❌';\n  return `- ${icon} ${c.detail || c.name}`;\n}).join('\\n');\n\nconst msg = `🔴 [매도 검토] ${data.name} (${data.symbol})\\n충족 조건: ${data.conditions_met}/${data.conditions.length}\\n${condLines}`;\n\nreturn [{ json: { shouldAlert: true, message: msg, symbol: data.symbol, name: data.name, conditions_met: data.conditions_met } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "sell-dedup",
      "name": "Dedup & Format"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "should-alert",
              "leftValue": "={{ $json.shouldAlert }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1100, 0],
      "id": "sell-if-alert",
      "name": "Should Alert?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:18789/hooks/agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer <CONFIGURE_IN_N8N>" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"message\": $json.message + \"\\n\\n즉시 확인하고 매도 여부를 판단해주세요. 현재가, 호가, 외국인 수급을 재확인 후 의견을 Discord #daily-market KR 스레드에 남겨주세요.\", \"name\": \"SK하이닉스 매도 알림\", \"model\": \"openai-codex/gpt-5.4\", \"deliver\": false, \"wakeMode\": \"now\" }) }}",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0],
      "id": "sell-hermes",
      "name": "Send Hermes Alert"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{ "node": "Market Hours Check", "type": "main", "index": 0 }]]
    },
    "Market Hours Check": {
      "main": [[{ "node": "Market Open?", "type": "main", "index": 0 }]]
    },
    "Market Open?": {
      "main": [[{ "node": "Fetch Sell Signal", "type": "main", "index": 0 }], []]
    },
    "Fetch Sell Signal": {
      "main": [[{ "node": "Dedup & Format", "type": "main", "index": 0 }]]
    },
    "Dedup & Format": {
      "main": [[{ "node": "Should Alert?", "type": "main", "index": 0 }]]
    },
    "Should Alert?": {
      "main": [[{ "node": "Send Hermes Alert", "type": "main", "index": 0 }], []]
    }
  }
}
