n8n/workflows/websocket-container-monitor.json
{
  "name": "WebSocket Container Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "ws-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "cat /shared/heartbeat/upbit.json 2>/dev/null || echo '{\"error\":\"not_found\"}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, -100],
      "id": "ws-cmd-upbit",
      "name": "Read Upbit Heartbeat"
    },
    {
      "parameters": {
        "command": "cat /shared/heartbeat/kis.json 2>/dev/null || echo '{\"error\":\"not_found\"}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 100],
      "id": "ws-cmd-kis",
      "name": "Read KIS Heartbeat"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [440, 0],
      "id": "ws-merge",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const STALE_THRESHOLD_SECONDS = 90;\n\nfunction checkHeartbeat(name, stdout) {\n  try {\n    const data = JSON.parse(stdout.trim());\n    if (data.error) return { name, status: 'not_found' };\n    \n    const ageSeconds = (Date.now() / 1000) - data.updated_at_unix;\n    if (ageSeconds > STALE_THRESHOLD_SECONDS) {\n      return { name, status: `stale (${Math.floor(ageSeconds)}s)` };\n    }\n    if (!data.is_running) return { name, status: 'not_running' };\n    \n    const connKey = name.includes('Upbit') ? 'upbit_connected' : 'kis_connected';\n    if (data[connKey] !== true) return { name, status: 'disconnected' };\n    \n    return { name, status: 'healthy' };\n  } catch (e) {\n    return { name, status: `error: ${e.message}` };\n  }\n}\n\nconst items = $input.all();\nconst upbitRaw = items[0]?.json?.stdout || '{\"error\":\"not_found\"}';\nconst kisRaw = items[1]?.json?.stdout || '{\"error\":\"not_found\"}';\n\nconst upbit = checkHeartbeat('Upbit WS', upbitRaw);\nconst kis = checkHeartbeat('KIS WS', kisRaw);\n\nconst unhealthy = [upbit, kis].filter(r => r.status !== 'healthy');\nconst details = unhealthy.map(r => `${r.name}: ${r.status}`).join(', ');\n\nreturn [{ json: { hasIssue: unhealthy.length > 0, details } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "ws-code",
      "name": "Check Health"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [{ "id": "ws-check", "leftValue": "={{ $json.hasIssue }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [880, 0],
      "id": "ws-if",
      "name": "Has Issue?"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🔴 WebSocket 컨테이너 이상!\n{{ $json.details }}\n시간: {{ $now.toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "ws-discord",
      "name": "Discord Alert",
      "credentials": {
        "discordWebhookApi": {
          "id": "S3nEJhBrN44oSaw2",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[
        { "node": "Read Upbit Heartbeat", "type": "main", "index": 0 },
        { "node": "Read KIS Heartbeat", "type": "main", "index": 0 }
      ]]
    },
    "Read Upbit Heartbeat": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "Read KIS Heartbeat": {
      "main": [[{ "node": "Merge", "type": "main", "index": 1 }]]
    },
    "Merge": {
      "main": [[{ "node": "Check Health", "type": "main", "index": 0 }]]
    },
    "Check Health": {
      "main": [[{ "node": "Has Issue?", "type": "main", "index": 0 }]]
    },
    "Has Issue?": {
      "main": [[{ "node": "Discord Alert", "type": "main", "index": 0 }]]
    }
  }
}
